
@{
    ViewData["Title"] = "GenerateReports";
}

<h1>Generate Reports</h1>

<h2>
    @Html.ActionLink("Generate Book Report", "GenerateBookReport", "Reports")
</h2>
<h2>
    @Html.ActionLink("Generate User Report", "GenerateUserReport", "Reports")
</h2>
<h2>
    @Html.ActionLink("Generate Order Report", "GenerateOrderReport", "Reports")
</h2>