<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

@{Layout = "~/Views/Shared/_Layout.cshtml";}

<h2>login</h2>
<form asp-action="Login">
    <div class="form-group">
        <label class="control-label"> User Name</label>
        <input name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="pass" class="control-label"> User Password</label>
        <input name="pass" type="password" class="form-control" /> <br />
    </div>
    <input type="submit" value="Login" class="btn btn-primary" />

    <p style="color:red"> @ViewData["message"]</p>
</form>

<div>
    Don't' have an account? <a asp-action="Create">Register</a>
</div>


