
@{
    ViewData["Title"] = "About Page";
}

@{Layout = "~/Views/Shared/_Layout.cshtml";}

<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">About</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<main class="inner-page-sec-padding-bottom">
    <div class="container">
        <div class="col-lg-10 col-md-5 col-12">
            <h3>About Ebook Bookshop</h3>
            <h5>Online bookstore Ebook.lk</h5>
            <p>
                is a website for an extensive collection of Local and
                International books. Not only a “one-stop shop” for book lovers
                but also an interactive and innovative destination designed to
                make it fun and exciting to discover and shop for new books in
                online.
            </p>

            <h5>Company Profile</h5>
            <p>
                Ebook Bookshop (Pvt) Ltd is truly a proper combination of the
                tradition and the modernity that brings the future to the present
                .Over the last five decades it has emerged as a prestigious and
                the foremost network of bookshops in Sri Lanka with rapid
                development and expansion of it’s business activities both in
                terms of quality and quantity. Ebook Bookshops present a huge
                collection of Sri Lankan and foreign publications covering an
                array of multiple disciplines to meet the diverse needs of our
                wide readership that ranges from little kids to higher academics.
                we are trusted sellers of an extensive collection of educational
                items, stationeries and magazines through our network. We are one
                of the major book importers in SriLanka and have established long
                outstanding business relationships with renowned foreign
                publishers with world recognition. As a result the latest
                publications of renowned foreign publishers are always readily
                made available in order to satisfy the needs of our customers. At
                present we have 3 bookstores located in major towns over the
                country and proudly claim to be the largest network of bookshops
                in Sri Lanka. Consequently, most of publishers in Sri Lanka prefer
                to use our network as a proper distribution channel.
                <br />
                <br />
                In order to maintain the uninterrupted continuity of supply we
                maintain our own warehouse and printing facilities.In recognition of our service excellence and
                commitment for bringing out best publications we have got several
                national level awards .
                <br />
                <br />
                Our customers all over the
                island and the around the world has easy access to us through our
                largest network of online ordering and more than 24 bookstores
                located throughout the country . (www.ebook.lk) More than
                100,000, local and foreign books and other materials available
                through the network presenting a wide range choice for the
                customers. Also the customers can use the “ebook Snap Order”
                facility through their smart phones. Apart from that, we have
                mobile van services engaged in the distribution of books to other
                bookshops covering whole Island.
            </p>

            <h5>Our International Relationships</h5>

            <p>
                Oxford University Press India / UK
                <br>
                Pearson Education India / UK
                <br>
                Penguin Random House India / UK / USA
                <br>
                Pan Macmillan UK/ India
                <br>
                Miles Kelly Publishing UK
                <br>
                Simon & Schuster UK / India
            </p>

        </div>
    </div>
</main>


